<nav class="navbar">
    <a class="navbar__logo" href="{{site.baseurl}}/"><img src="{{ "/assets/img/logo.png" | relative_url }}" alt="Uncovr"></a>

    <div class="navbar__menu">
        <div class="navbar__menu-icon"></div>
    </div>

    <ul class="navbar__items">
        <li><a class="scroll" href="#how_it_works">How It Works</a></li>
        <li><a class="scroll" href="#about">About</a></li>
        <li><a class="scroll" href="#faqs">FAQ</a></li>
        <li><a href="#signup" class="scroll btn btn--nav" href="#">Join Us</a></li>
    </ul>
</nav>